<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New password</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <div class="card">
            <h2>Set a new password</h2>
            <form id="newPasswordForm">
                <input class="input" type="text" id="otp" placeholder="Enter Your OTP" required>
                <input class="input" type="password" id="newPassword" placeholder="New Password" required>
                <input class="input" type="password" id="confirmPassword" placeholder="Confirm Password" required>
                <button class="btn" type="submit">Change Password</button>
                <div class="links"><a href="/auth/login">Back to Login</a></div>
            </form>
        </div>
    </div>
    <script src="/js/newPassword.js"></script>
</body>
</html>